:javascript
  $(document).ready(function(){
    $('#cancel').click(function(){$.facebox.close(); return false;});
    $("#update").click(function(){
      $('.edit_channel').validate();
      // If it is valid, submit
      if( $('.edit_channel').valid() )
        $(".edit_channel").submit();
    });
  });

- form_for @channel, :url => channel_path, :method => "put" do |f|
  %header
    %h1= "Edit #{@channel.name} Channel"
  %article
    %label Name
    %br
    = f.text_field :name, :class => 'required title'
    %br
    
    %label Cycle Start Day
    %br
    %select{:id => "channel_cycle_start_day", :name => "channel[cycle_start_day]", :class => "required"}
      - (1..28).each do |i|
        - if i == @channel.cycle_start_day
          %option{:value => @channel.cycle_start_day, :selected => @channel.cycle_start_day}=i
        - else
          %option{:value => i}=i
    %br
  
    -if @channel.is_seo?
    -elsif @channel.is_sem?
      %br
      %label Budget Amount
      %input.title{:id => "budget_amount", :name => "budget[amount]", :class => "text", :value => @channel.budget_settings.last.try(:amount)}
      %br
      %label Budget Start Date
      %input.title{:id => "budget_start_date", :type => 'text', :name => "budget[start_date]", :class => "text", :value => @channel.budget_settings.last.try(:start_date)}
      %br
      %label Rake Percentage
      %input.title{:id => "rake_percentage", :name => "rake[percentage]", :class => "text", :value => @channel.rake_settings.last.try(:percentage)}
      %br
      %label Rake Start Date
      %input.title{:id => "rake_start_date", :type => 'text', :name => "rake[start_date]", :class => "text", :value => @channel.rake_settings.last.try(:start_date)}
      %br
    -elsif @channel.is_basic?
    
    
    
    %br
    = link_to 'Delete this Channel', channel_path(@account, @channel), :class=> "button", :confirm => "This will delete this channel, are you sure?", :method => :delete if @channel.campaigns.count == 0
%footer
  #submit
    = link_to "Cancel", "", :class => "cancel", :id => 'cancel'
    %button{:id => 'update', :class => 'button'} Update
  %hr.space
