- form_for @channel, :url => channel_path, :method => "put" do |f|
  %header
    %h1= "Edit #{@channel.name}"
  %article
    = f.label "Name"
    %br
    = f.text_field :name
    %br
    = link_to 'Delete this Channel', channel_path(@account, @channel), :class=> "button", :confirm => "This will delete this channel, are you sure?", :method => :delete if @channel.campaigns.count == 0
  %footer
    #submit
      = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
      = f.submit "Update", :class => 'button'
    %hr.space
  