- form_for @channel do |f|
  %header
    %h1 Create a new Channel
  %article
    = f.label "Name"
    %br
    = f.text_field :name
    %br
    = f.label "Type"
    %br
    = f.select(:channel_type, Channel::CHANNEL_TYPE_OPTIONS, :prompt => "- Choose Type -" )
  %footer
    #submit
      = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
      = f.submit "Create", :class => 'button'
    %hr.space