<tr id="<%= dom_id note %>">
  <td><%= note.description %></td>
  <td><%= link_to 'Show', note %></td>
  <td><%= link_to 'Edit', edit_note_path(note), :remote => true %></td>
  <td><%= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
</tr>