%h1
  Summary for #{@account.name}

.section#first-section
  .left#timeline_chart
    %h3 Account Performance
    = render :partial => "shared/timeline"
  .right
    = render :partial => "shared/news_results"
  .clear

%h3
  Last Week (#{(Date.yesterday - 1.week).to_s(:long) + ' to ' + Date.yesterday.to_s(:long)})
%table{:class => "pretty"}
  %thead
    %tr
      %th
        Campaign Name (Click for Details)
      %th
        Calls
      %th
        Forms
      %th
        Total Leads
      %th
        Cost
      %th
        Spend(Marked Up)
      %th
        Cost Per Lead
  %tbody
    -@account.campaigns.each do |campaign|
      %tr{ :class => cycle('odd', 'even')}
        %td
          = link_to campaign.name, admin_campaign_path(campaign)
        %td
          = campaign.number_of_lead_calls_between(Date.yesterday - 1.week, Date.yesterday).to_s
        %td
          = campaign.number_of_submissions_between(Date.yesterday - 1.week, Date.yesterday).to_s
        %td
          = campaign.number_of_total_leads_between(Date.yesterday - 1.week, Date.yesterday).to_s
        %td
          = ActionController::Base.helpers.number_to_currency(campaign.cost_between(Date.yesterday - 1.week, Date.yesterday))
        %td
          = ActionController::Base.helpers.number_to_currency(campaign.spend_between(Date.yesterday - 1.week, Date.yesterday))
        %td
          = ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(Date.yesterday - 1.week, Date.yesterday))
        /%td= link_to "Details", admin_campaign_path(campaign)

%h3
  = link_to "Click Here for Monthly Report", report_admin_account_path(@account)


