%h1
  Summary for #{@account.name}

.section#first-section
  .left#timeline_chart
    %h3 Account Performance
    = render :partial => "shared/timeline"
  .right
    = render :partial => "shared/news_results"
  .clear

%h3
  Last Week
%table{:class => "pretty"}
  %thead
    %tr
      %th
        Campaign Name
      %th
        Calls
      %th
        Forms
      %th
        Total Leads
      %th
        Spend
      %th
        Cost Per Lead
      %th
  %tbody
    -@account.campaigns.each do |campaign|
      %tr{ :class => cycle('odd', 'even')}
        %td
          = campaign.name
        %td
          = campaign.number_of_all_calls_between(Date.today - 1.week, Date.today).to_s
        %td
          = campaign.number_of_submissions_between(Date.today - 1.week, Date.today).to_s
        %td
          = campaign.number_of_total_leads_between(Date.today - 1.week, Date.today).to_s
        %td
          = ActionController::Base.helpers.number_to_currency(campaign.spend_between(Date.today - 1.week, Date.today))
        %td
          = ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(Date.today - 1.week, Date.today))
        %td
          = link_to "Details", admin_campaign_path(campaign)