%script
  $(function(){
  $('#daterangepicker').daterangepicker({arrows:false}); 
  });
%header
  .right 
    = link_to "Export Client", report_client_path(params[:id]), :popup => true
  %h1 #{@account.name}
  %h2 Summary

%article
  %h3
    Last Week (#{(Date.yesterday - 1.week).to_s(:long) + ' to ' + Date.yesterday.to_s(:long)})
  %table
    %thead
      %tr
        %th Campaign Name (Click for Details)
        %th Lead  Calls
        %th All Calls
        %th Lead Forms
        %th All Forms
        %th Total Leads
        %th Total Contacts
        %th Cost
        %th Spend (Marked-Up)
        %th Cost Per Lead
        %th Cost Per Contact
    %tbody
      -@account.campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, admin_campaign_path(campaign)
          %td= campaign.number_of_lead_calls_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= campaign.number_of_all_calls_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= campaign.number_of_lead_submissions_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= campaign.number_of_all_submissions_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= campaign.number_of_total_leads_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= campaign.number_of_total_contacts_between(Date.yesterday - 1.week, Date.yesterday).to_s
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_between(Date.yesterday - 1.week, Date.yesterday))
          %td= ActionController::Base.helpers.number_to_currency(campaign.spend_between(Date.yesterday - 1.week, Date.yesterday))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(Date.yesterday - 1.week, Date.yesterday))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_contact_between(Date.yesterday - 1.week, Date.yesterday))
          /%td= link_to "Details", admin_campaign_path(campaign)

  %h3
    = link_to "Click Here for Monthly Report", report_admin_account_path(@account)


