%script
  $(function(){
  $('#daterangepicker').daterangepicker({arrows:false}); 
  });
%header
  %h1= #{@website.nickname} Visits
  %h2 Website Statistics
%article
  -form_for(admin_websites_path, :html => {:method => "get", :onchange => "alert('hello')"}) do |f|
    = f.text_field :daterangepicker, :name => "daterangepicker", :id => "daterangepicker"
    = f.submit "Filter Dates"
  %h3 #{(@start_date).to_s(:long) + ' to ' + @end_date.to_s(:long)}
  
  %table{:class => "pretty"}
    %thead
      %th Website
      %th Visits
      %th Actions
      %th Bounces
      %th Avg Actions/Visit
      %th Total Time Spent
      %th Avg Time Spent
      %th Bounce Rate
    %tbody
      %tr{:class => cycle('odd', 'even')}
        %td= @website.nickname
        %td= @website.visits_between(@start_date, @end_date).to_s
        %td= @website.actions_between(@start_date, @end_date).to_s
        %td= @website.bounces_between(@start_date, @end_date).to_s
        %td= '%.2f' % @website.average_actions_between(@start_date, @end_date).to_s
        %td
          - @total_time = @website.total_time_spent_between(@start_date, @end_date)
          = [(((@total_time/3600) != 0 ? (@total_time/3600).to_s + 'h' : nil)), (((@total_time/60 % 60) != 0 ? ((@total_time/60 % 60).to_s + 'm').rjust(2,'0') : nil)), (((@total_time % 60) != 0 ? ((@total_time % 60).to_s + 's').rjust(2,'0') : nil))].compact.join(':')
        %td
          - @avg_time = @website.average_total_time_spent_between(@start_date, @end_date).to_i
          = [(((@avg_time/3600) != 0 ? (@avg_time/3600).to_s + 'h' : nil)), (((@avg_time/60 % 60) != 0 ? ((@avg_time/60 % 60).to_s + 'm').rjust(2,'0') : nil)), (((@avg_time % 60) != 0 ? ((@avg_time % 60).to_s + 's').rjust(2,'0') : nil))].compact.join(':')
        %td= (sprintf("%.2f", (@website.bounce_rate_between(@start_date, Date.today) * 100)) + '%')

%h3
  Website Visits(#{@start_date} - #{@end_date})
%article
  %table{:class => "pretty"}
    %thead
      %th Visitor ID
      %th Time Of Visit
      %th IP Address
      %th Location
      %th Actions
      %th Source
      %th Referrer
      %th Keyword
      %th Time Spent
    %tbody
      - (@website.website_visits.between(@start_date, @end_date).sort { |a,b| b.time_of_visit <=> a.time_of_visit }).each do |website_visit|
        %tr{:class => cycle('odd', 'even')}
          %td
            -temp_string = "NA"
            -if website_visit.visitor_id.present?
              -temp_string = website_visit.visitor_id.to_s
            =link_to temp_string, admin_website_visit_path(website_visit) 
          %td=website_visit.time_of_visit.strftime("%m/%d/%y %I:%M %p")
          %td=website_visit.ip_address
          %td=website_visit.geolocation
          %td=website_visit.actions
          %td=website_visit.referrer_type
          %td=website_visit.referrer_domain
          %td=website_visit.referrer_search
          %td
            - @total_time = website_visit.time_total.to_i
            = [(((@total_time/3600) != 0 ? (@total_time/3600).to_s + 'h' : nil)), (((@total_time/60 % 60) != 0 ? ((@total_time/60 % 60).to_s + 'm').rjust(2,'0') : nil)), (((@total_time % 60) != 0 ? ((@total_time % 60).to_s + 's').rjust(2,'0') : nil))].compact.join(':')
            
%h3
  Website Bounces(#{@start_date} - #{@end_date})
%article
  %table{:class => "pretty"}
    %thead
      %th Visitor ID
      %th Time Of Visit
      %th IP Address
      %th Location
      %th Actions
                  %th Source
                  %th Referrer
                  %th Keyword
                  %th Time Spent
                %tbody
                  - (@website.website_visits.between(@start_date, @end_date).sort { |a,b| b.time_of_visit <=> a.time_of_visit }).each do |website_visit|
                    %tr{:class => cycle('odd', 'even')}
                      %td
                        -temp_string = "NA"
                        -if website_visit.visitor_id.present?
                          -temp_string = website_visit.visitor_id.to_s
                        =link_to temp_string, admin_website_visit_path(website_visit) 
                      %td=website_visit.time_of_visit.strftime("%m/%d/%y %I:%M %p")
                      %td=website_visit.ip_address
                      %td=website_visit.geolocation
                      %td=website_visit.actions
                      %td=website_visit.referrer_type
                      %td=website_visit.referrer_domain
                      %td=website_visit.referrer_search
                      %td
                        - @total_time = website_visit.time_total.to_i
                        = [(((@total_time/3600) != 0 ? (@total_time/3600).to_s + 'h' : nil)), (((@total_time/60 % 60) != 0 ? ((@total_time/60 % 60).to_s + 'm').rjust(2,'0') : nil)), (((@total_time % 60) != 0 ? ((@total_time % 60).to_s + 's').rjust(2,'0') : nil))].compact.join(':')
          

