= "Name: #{@submission.name}\n"
= "Email: #{@submission.from_email}\n"
= "Phone: #{@submission.phone_number}\n"
= "Work Description: #{@submission.work_description}\n"
-if @submission.home_address.present?
  = "Home Address: #{@submission.home_address}\n"
-if @submission.home_address.present?
  = "Work Category: #{@submission.work_category}\n"
-if @submission.home_address.present?
  = "Date Requested: #{@submission.date_requested}\n"
-if @submission.home_address.present?
  = "Time Requested: #{@submission.time_requested}\n"
-if @submission.custom1_value.present?
  = "#{@submission.contact_form.custom1_text}: #{@submission.custom1_value}\n"
-if @submission.custom2_value.present?
  = "#{@submission.contact_form.custom2_text}: #{@submission.custom2_value}\n"
-if @submission.custom3_value.present?
  = "#{@submission.contact_form.custom3_text}: #{@submission.custom3_value}\n"
-if @submission.custom4_value.present?
  = "#{@submission.contact_form.custom4_text}: #{@submission.custom4_value}\n"



