= "Number of all calls: #{@account_report_data[0]}, Number of lead calls: #{@account_report_data[1]}, Number of all submissions: #{@account_report_data[2]}, Number of lead submissions: #{@account_report_data[3]}."

