.section#first-section
  -if params[:search]
    /Do nothing
  -else
    .left#timeline_chart
      %h3 Overall Performance
      = render :partial => "shared/timeline"
    .right
      = render :partial => "shared/news_results"
  .clear
.section
  .shortbox
    %h3 Worst by CTR
    -@sorted_by_ctr.each do |account|
      %p#worst
        =link_to account[1][:name], admin_account_path(account[0])
        ="(#{sprintf("%.2f", account[1][:ctr]) + '%'})"
  .shortbox
    %h3 Worst by Lead Count
    -@sorted_by_leads.each do |account|
      %p#worst
        =link_to account[1][:name], admin_account_path(account[0])
        ="(#{account[1][:leads]})"
  .shortbox
    %h3 Worst by CPCONV
    -@sorted_by_cpconv.each do |account|
      %p#worst 
        =link_to account[1][:name], admin_account_path(account[0])
        ="(#{ActionController::Base.helpers.number_to_currency(account[1][:cpconv])})"
  .clear