%header
  %h2=@user.email
  %h4.quiet Edit Account
%article
  #details.span-11.append-1
    - form_for (@user) do |f|
      %h3 User Details
      = f.label "Email"
      %br
      = f.text_field :email, :class => 'title'
      %br
      = f.label "Password"
      %br
      = f.password_field :password, :class => 'title'
      %br
      = f.label "Confirm Password"
      %br
      = f.password_field :password_confirmation, :class => 'title'
      = f.hidden_field :id, :value => @user.id
      %br
      = f.submit "Save", :class => 'button'
      %br

  #roles.span-11.last
    %h3 Current Roles
    %h4 
      -@user.roles.each do |role|
        -if role.role_type_type == "GroupUser"
          =role.role_type_type.to_s + ": " + role.role_type.group_account.name
        -elsif role.role_type_type == "AccountUser"
          =role.role_type_type.to_s + ": " + role.role_type.account.name.to_s
        %br
      -if @user.admin?
        ="Admin: manage all"
      %br
        
      %h3 Role Type
      -form_for(@user) do |f|
        = f.radio_button :admin, 'Admin', :checked => (@user.admin? ? true : false)
        %label Admin
        %br
        = f.radio_button :account_managers, 'Account Manager', :checked => (@user.account_manager? ? true : false)
        %label Account Manager
        %br
        = f.radio_button :account_users, 'User', :checked => (@user.account_user? ? true : false)
        %label User
        %br
      %br

