%header
  %h1=@user.email
%article
  - form_for (@user) do |f|
    %h2 Login Information
    = f.label "Email"
    %br
    = f.text_field :email, :class => 'title'
    %br
    = f.label "Password"
    %br
    = f.password_field :password, :class => 'title'
    %br
    = f.label "Confirm Password"
    %br
    = f.password_field :password_confirmation, :class => 'title'
    = f.hidden_field :id, :value => @user.id
    %br
    = f.submit "Save", :class => 'button'