%header       
  %h1 Users
%article
  %table
    %thead
      %tr
        %th
          .right= link_to "", register_path, :rel => "facebox", :title => "Add User", :class => "tiptip iconic plus-alt"
          Email
        %th Created
        %th Last Login
    %tbody
      - @users.each do |user|
        %tr
          %td
            = link_to user.email, edit_user_path(user)
            - if @current_user.admin?
              = link_to "", user, :title => "Delete User", :class => 'tiptip iconic x', :confirm => "This will delete user: #{user.email}, are you sure?", :method => :delete unless user.id == @current_user.id
          %td= user.created_at.to_s(:long)
          %td= user.last_request_at.nil? ? "Has Not logged in" : time_ago_in_words(user.last_request_at)
