- form_for @user, :url => person_path do |f| 
  %header
    %h1 Register a New User
  %article
    = f.label :email
    %br
    = f.text_field :email, :class => 'title'
    %br
    = f.label :password
    %br
    = f.password_field :password, :class => 'title'
    %br
    %label Confirm Password
    %br
    = f.password_field :password_confirmation, :class => 'title'
  %footer
    #submit
      = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
      = f.submit "Register", :class => 'button'
    %hr.space


