:javascript
  $(document).ready(function(){
    // if they click cancel, close the facebox
    $('#cancel').click(function(){$.facebox.close(); return false;});

    var validateUserType = function () {
      if($("#user_type").val()  == '0') {
        $('#user_type_field').append('<label for="user_type" generated="true" class="error" style="display: inline; ">This field is required.</label>');
        return false;
      } else {
        $('#user_type_field').remove('label.error');
        return true;
      }
    }

    $("#user_type").change(function(){
      validateUserType();
    });

    $("#register").click(function(){
      $('#new_user').validate();

      // If it is valid, submit
      if( $('#new_user').valid() )
        if( validateUserType() )
          $("#new_user").submit();
    });
  });

- form_for @user, :url => (@account.present? ? account_users_path(@account) : users_path) do |f|
  %header
    %h1 Register a New User
  %article
    %p
      %label Email
      %br
      = f.text_field :email, :class => 'required title'
      
    %p
      %label Name
      %br
      = f.text_field :name, :class => 'required title'
      
      
    %p
      %label Phone Number
      %br
      = f.text_field :phone_number, :class => 'required title'
      
    %p
      %label Password
      %br
      = f.password_field :password, :class => 'required title'
    %p
      %label Confirm Password
      %br
      = f.password_field :password_confirmation, :class => 'required title'
    %p#user_type_field
      %label Type
      %br
      - if @current_user.group_user? || @current_user.admin?
        %select{:id => 'user_type', :name => 'user[type]', :class => 'required'}
          %option{:value => 0} - Choose a role -
          %option{:value => 1} Group User Write
          %option{:value => 2} Group User Read
          %option{:value => 3} Account User Write
          %option{:value => 4} Account User Read
      - else
        %select{:id => 'user_type', :name => 'user[type]', :class => 'required'}
          %option{:value => 0} - Choose a role -
          %option{:value => 3} Account User Write
          %option{:value => 4} Account User Read
%footer
  #submit
    = link_to "Cancel", "#", :class => "cancel", :id => 'cancel'
    %button{:class => 'button', :id => 'register'} Register
  %hr.space


