- form_for @user, :url => account_users_path(@account) do |f| 
  %header
    %h1 Register a New User
  %article
    = f.label :email
    %br
    = f.text_field :email, :class => 'title'
    %br
    = f.label :password
    %br
    = f.password_field :password, :class => 'title'
    %br
    %label Confirm Password
    %br
    = f.password_field :password_confirmation, :class => 'title'
    %br
    %label Type
    %br
    = select_tag "user_type", '<option value="0">- Select Role -</option><option value="1">Group User W</option> <option value="2">Group User R</option><option value="3">Account User W</option><option value="4">Account User R</option>', :name => "user[type]"
  %footer
    #submit
      = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
      = f.submit "Register", :class => 'button'
    %hr.space


