%h1 Account Details
%br
- semantic_form_for @user, :url => person_path do |f| 
  = f.semantic_errors :state
  - f.inputs do
    %br
    = f.input :email, :label => 'Your email', :hint => "We'll never spam you. <i>Ever.</i>"
    = f.input :password, :label => 'New password'
    = f.input :password_confirmation
  - f.buttons do
    = f.commit_button :save, :button_html => { :class => "sexybutton sexysimple sexygreen" }