%header
  %h2=@user.email
  %h4.quiet Edit Account
%article
  #details.span-11.append-1
    - form_for (@user, :url => person_path) do |f|
      %h3 User Details
      = f.label :email
      %br
      = f.text_field :email, :class => 'title'
      %br
      = f.label :password
      %br
      = f.password_field :password, :class => 'title'
      %br
      %label Confirm Password
      %br
      = f.password_field :password_confirmation, :class => 'title'
      = f.hidden_field :id, :value => @user.id
      %br
      = f.submit "Save", :class => 'button'
      %br
      %br
      - if @user.account_manager? || @user.admin?
        %h3 Account Manager Details
        %label Name
        %br
        %input.title{:type => "input"}
        %br
        %label Phone Number
        %br
        %input.title{:type => "input"}
  #roles.span-11.last
    - if @current_user.admin?
      %h3 Current Roles
      %h4 
        Group Account Manager - CityVoice
        %a.delete Delete
        
      %h3 Add Role
      %label Account Type
      %br
      -form_for(@user) do |f|
        = f.radio_button :admin, 'Admin', :checked => (@user.admin? ? true : false)
        %label Admin
        %br
        = f.radio_button :account_managers, 'Account Manager', :checked => (@user.account_manager? ? true : false)
        %label Account Manager
        %br
        = f.radio_button :account_users, 'User', :checked => (@user.account_user? ? true : false)
        %label User
        %br
      %br
      %label Account Manager
      %br
      %select#account_manager
        %option CityVoice
        %option Boss
      %br
      %label User
      %br
      %select#user_account
        %option 1-800 Plumbing
        %option 1st Priority Plumbing
        %option 4 Seasons Heating
        %option Advanced Smile Care
        %option Air Cool Now
        %option All Needs Plumbing
        %option 1-800 Plumbing
        %option 1st Priority Plumbing
        %option 4 Seasons Heating
        %option Advanced Smile Care
        %option Air Cool Now
        %option All Needs Plumbing%option 1-800 Plumbing
        %option 1st Priority Plumbing
        %option 4 Seasons Heating
        %option Advanced Smile Care
        %option Air Cool Now
        %option All Needs Plumbing%option 1-800 Plumbing
        %option 1st Priority Plumbing
        %option 4 Seasons Heating
        %option Advanced Smile Care
        %option Air Cool Now
        %option All Needs Plumbing
