%header
  %h3 My Account
%article
  - form_for @user, :url => person_path do |f|
    %p
      = f.label :email
      %br
      = f.text_field :email, :class => 'title'
    %p
      = f.label :password
      %br
      = f.password_field :password, :class => 'title'
    %p
      %label Confirm Password
    %br
      = f.password_field :password_confirmation, :class => 'title'
    %p
      = f.submit "Save", :class => 'button'