%h3
  -if @search_accounts.blank?
    = "No Account Results for \"#{@search_term}\""
  -else
    = "Accounts found for \"#{@search_term}\""
    %table{:class => "pretty"}
      %thead
        %tr
          %th Name (Click for Details)
          %th
            Calls
          %th
            Forms
          %th
            Total Leads
          %th
            Cost
          %th
            Spend(Marked Up)
          %th
            Cost Per Lead
      %tbody
        - @search_accounts.each do |account|
          %tr{:class => cycle('odd', 'even')}
            %td= link_to account.name, admin_account_path(account)
            %td
              = account.number_of_lead_calls_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = account.number_of_submissions_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = account.number_of_total_leads_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = ActionController::Base.helpers.number_to_currency(account.cost_between(Date.yesterday - 1.week, Date.yesterday))
            %td
              = ActionController::Base.helpers.number_to_currency(account.spend_between(Date.yesterday - 1.week, Date.yesterday))
            %td
              = ActionController::Base.helpers.number_to_currency(account.cost_per_lead_between(Date.yesterday - 1.week, Date.yesterday))


%h3
  -if @search_campaigns.blank?
    = "No Campaign Results for \"#{@search_term}\""
  -else
    = "Campaigns found for \"#{@search_term}\""
    %table{:class => "pretty"}
      %thead
        %tr
          %th
            Campaign Name (Click for Details)
          %th
            Calls
          %th
            Forms
          %th
            Total Leads
          %th
            Cost
          %th
            Spend(Marked Up)
          %th
            Cost Per Lead
      %tbody
        -@search_campaigns.each do |campaign|
          %tr{ :class => cycle('odd', 'even')}
            %td
              = link_to campaign.name, admin_campaign_path(campaign)
            %td
              = campaign.number_of_lead_calls_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = campaign.number_of_submissions_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = campaign.number_of_total_leads_between(Date.yesterday - 1.week, Date.yesterday).to_s
            %td
              = ActionController::Base.helpers.number_to_currency(campaign.cost_between(Date.yesterday - 1.week, Date.yesterday))
            %td
              = ActionController::Base.helpers.number_to_currency(campaign.spend_between(Date.yesterday - 1.week, Date.yesterday))
            %td
              = ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(Date.yesterday - 1.week, Date.yesterday))
