.activity_item{:id => "#{activity.timestamp.to_i}"}
  .title
    = link_to activity.contact_form.campaign.name, admin_campaign_path(activity.contact_form.campaign)
  .icon
    =image_tag("mail.png", :height => "48", :width => "48")
    .time
      =time_ago_in_words(activity.time_of_submission)+ " ago"
  .info
    %ul
      %li
        Name:
        =mail_to("#{activity.from_email}", "#{activity.name || activity.from_email}")
      %li
        Phone:
        =activity.phone_number
      %li
        Address:
        =activity.home_address
      %li
        Submitted at:
        -activity_time_zone = activity.contact_form.campaign.account.time_zone
        =activity.time_of_submission.in_time_zone(activity_time_zone).to_s(:long) + " " + activity_time_zone
      %li
        Work Category:
        =activity.work_category
      %li
        Description:
        =activity.work_description
  .review
    - if activity.duplicate?
      = "Duplicate Submission"
    - semantic_remote_form_for activity, :url => admin_activity_path(activity.activity) do |f| 
      = f.semantic_errors :state
      - f.inputs do
        %br
        = f.input :review_status, :label => 'Review', :as => :select, :collection => activity.review_status_options, :include_blank => false
      - f.buttons do
        = f.commit_button :update, :button_html => { :class => "sexybutton sexysimple sexygreen" }
  .bottom_title
    .leftinfo
      =activity.ip_address
    .rightinfo
      =activity.user_agent