.activity_item{:id => "#{activity.timestamp.to_i}"}
  .title
    = link_to activity.activity_type.phone_number.campaign.name, campaign_path(activity.activity_type.phone_number.campaign)
  .icon
    =image_tag("telephone.png", :height => "48", :width => "48")
    .time
      -activity_time_zone = activity.phone_number.campaign.account.time_zone
      =time_ago_in_words(activity.call_start) + " ago at " + activity.call_start.in_time_zone(activity_time_zone).to_s(:time) + " " + activity_time_zone
  .info
    %ul
      %li 
        Caller: 
        =number_to_phone(activity.caller_number)
        ="(#{activity.caller_name})"
      %li
        Status: 
        = "#{activity.call_status} (#{(activity.call_end - activity.call_start).to_int} seconds)"
      %li 
        -if activity.recorded? && activity.recording?
          = link_to('Listen', activity.recording.expiring_url(14400))
          = mp3_player "#{activity.recording.expiring_url(14400)}", :bg => "EEEEEE", :track => "EEEEEE", :slider => "222222", :loader => "EEEEEE"
        -else
          Call Recording Unavailable
  .review
    - if activity.duplicate?
      = "Duplicate Call"
    - form_for activity, :url => activity_path(activity.activity) do |f|
      = f.select(:review_status, (activity.review_status_options))
      = f.submit(:update, :button_html => { :class => "sexybutton sexysimple sexygreen" })
  .bottom_title
    .leftinfo
      Inbound #: 
      =number_to_phone(activity.inboundno)
    .rightinfo
      Answered By:
      =number_to_phone(activity.forwardno)
      
