:javascript
  $(function(){
    $('#to,#from').datepicker({
      showOtherMonths:   true,
      showButtonPanel:   true,
      selectOtherMonths: true,
      dateFormat:        'M d, yy'
    });

    $("#show_change_dates").click(function(){
      $('#change_dates').toggle('blind', {}, 250);
    })

  });

%h4.quiet
  = "#{(@start_date).to_s(:medium)} to #{@end_date.to_s(:medium)}"
  = link_to "Edit", "#", :id => "show_change_dates"


%div{:id => 'change_dates', :style => "display:none;", :class => "box" }
  %p Change your date range.
  -form_for(accounts_path, :html => {:method => "get"}) do |f|
    = f.text_field :from, :name => "from", :id => "from", :autocomplete => "off", :value => "#{(@start_date).to_s(:medium)}", :size => 15
    = " to "
    = f.text_field :to, :name => "to", :id => "to", :autocomplete => "off", :value => "#{@end_date.to_s(:medium)}", :size => 15
    = f.submit "Change Dates"