%article
  %h3 Campaign Details
  %table
    %thead
      %tr
        %th Lead Calls
        %th All Calls
        %th Lead Forms
        %th All Forms
        %th Total Leads
        %th Total Contacts
        %th Spend
        %th Cost Per Lead
        %th Cost Per Contact
    %tbody
      %tr
        %td= @campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_leads_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
        %td= ActionController::Base.helpers.number_to_currency(@campaign.spend_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_lead_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_contact_between(@start_date, @end_date))
  %h3 Connections
  .span-8.colborder
    %h4.strong Forms
    = render :partial => 'campaigns/campaign_types/listings/contact_form'
  .span-8.last 
    %h4.strong Phone Numbers
    = render :partial => 'campaigns/campaign_types/listings/phone_number'
  %hr.space