%section
  %h2 Campaign Details
  %table
    %thead
      %tr
        %th.tiptip{:title => ""} Lead Calls
        %th.tiptip{:title => ""} All Calls
        %th.tiptip{:title => ""} Lead Forms
        %th.tiptip{:title => ""} All Forms
        %th.tiptip{:title => ""} Total Leads
        %th.tiptip{:title => ""} Total Contacts
        %th.tiptip{:title => ""} Spend
        %th.tiptip{:title => ""} Cost Per Lead
        %th.tiptip{:title => ""} Cost Per Contact
    %tbody
      %tr
        %td= @campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_leads_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
        %td= ActionController::Base.helpers.number_to_currency(@campaign.spend_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_lead_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_contact_between(@start_date, @end_date))
  %h2 Connections
  .span-8.colborder
    %h4.strong Forms
    = render :partial => 'campaigns/campaign_types/listings/contact_form'
  .span-8.last 
    %h4.strong Phone Numbers
    = render :partial => 'campaigns/campaign_types/listings/phone_number'
  %hr.space
  
  
  %h2 Form Submissions