
%article
  %h3 Campaign Details
  -if @campaign.website.present?
    - ranking = @campaign.most_recent_map_ranking_between(@start_date, @end_date)
    %table
      %thead
        %th Visits
        %th Google Reviews
        %th Google Rating
        %th Yahoo Reviews
        %th Yahoo Rating
        %th Bing Reviews
        %th Bing Rating
      %tbody
        %tr
          %td= @campaign.number_of_map_visits_between(@start_date, @end_date).to_s
          %td= ranking.google_review_count
          %td= ranking.google_places_ranking
          %td= ranking.yahoo_review_count
          %td= ranking.yahoo_review_rating
          %td= ranking.bing_review_count
          %td= ranking.places_rankings
          
    %h4 Google Maps Details
    %table
      %thead
        %th Coupons
        %th Citations
        %th User Content
        %th Total Reviews
        %th Insider Pages Reviews
        %th Rating
        %th Customer Lobby Reviews
        %th Rating
        %th City Search Reviews
        %th Rating
        %th Judys Book Reviews
        %th Rating
      %tbody
        %tr
          %td= ranking.google_coupon_count
          %td= ranking.google_citation_count
          %td= ranking.google_user_content_count
          %td= ranking.google_review_count
          %td= ranking.google_insiderpages_review_count
          %td= ranking.google_insiderpages_rating
          %td= ranking.google_customerlobby_review_count
          %td= ranking.google_customerlobby_rating
          %td= ranking.google_citysearch_review_count
          %td= ranking.google_citysearch_rating
          %td= ranking.google_judysbook_review_count
          %td= ranking.google_judysbook_rating
          
    %h4 Bing Maps Details
    %table
      %thead
        %th Review Count
        %th Overall Rating
        %th Insider Pages Reviews
        %th Customer Lobby Reviews
        %th City Search Reviews
        %th Judys Book Reviews
      %tbody
        %tr
          %td= ranking.bing_review_count
          %td= ranking.places_rankings
          %td= ranking.insider_pages_review_count
          %td= ranking.customer_lobby_review_count
          %td= ranking.citysearch_review_count
          %td= ranking.judysbook_review_count
        
  -else
    %h3 Campaign Has No Website Associated
    
  -if @campaign.campaign_style.map_keywords.present?
    %h3 Map Keywords
    %table
      %thead
        %tr
          %th Keyword (Click for History)
          %th Last Updated
          %th Google
          %th Month Change
          %th Yahoo
          %th Month Change
          %th Bing
          %th Month Change
      %tbody
        - (@campaign.campaign_style.map_keywords.sort { |a,b| a.descriptor <=> b.descriptor }).each do |keyword|
          %tr
            -#%td= link_to keyword.descriptor, keyword_path(keyword)
            %td= keyword.descriptor
            %td= keyword.most_recent_ranking().created_at.strftime("%m/%d/%y %I:%M %p") if keyword.most_recent_ranking.present?
            %td= keyword.most_recent_google_ranking_between(@start_date, @end_date) if keyword.most_recent_google_ranking
            %td= keyword.google_ranking_change_between(@start_date, @end_date) 
            %td= keyword.most_recent_yahoo_ranking
            %td= keyword.yahoo_ranking_change_between(@start_date, @end_date) 
            %td= keyword.most_recent_bing_ranking
            %td= keyword.bing_ranking_change_between(@start_date, @end_date)   
            
  -if @campaign.website.present?
    #accordion
      %h3=link_to "Website Visits From Maps (#{@start_date} - #{@end_date})", :href => "#"
      #first_rung
        %article
          %table
            %thead
              %th Visitor ID
              %th Time Of Visit
              %th IP Address
              %th Location
              %th Actions
              %th Source
              %th Keyword
              %th Time Spent
            %tbody
              - @campaign.website.website_visits.from_maps.between(@start_date, @end_date).each do |website_visit|
                %tr
                  %td
                    -temp_string = "NA"
                    -if website_visit.visitor_id.present?
                      -temp_string = website_visit.visitor_id.to_s
                    =link_to temp_string, website_visit_path(website_visit) 
                  %td=website_visit.time_of_visit.strftime("%m/%d/%y %I:%M %p")
                  %td=website_visit.ip_address
                  %td=website_visit.geolocation
                  %td=website_visit.actions
                  %td=website_visit.referrer_type
                  %td=website_visit.referrer_search
                  %td
                    - @total_time = website_visit.time_total.to_i
                    = [(((@total_time/3600) != 0 ? (@total_time/3600).to_s + 'h' : nil)), (((@total_time/60 % 60) != 0 ? ((@total_time/60 % 60).to_s + 'm').rjust(2,'0') : nil)), (((@total_time % 60) != 0 ? ((@total_time % 60).to_s + 's').rjust(2,'0') : nil))].compact.join(':')
  
              
 
  
