- unless @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  - adwords_campaigns = @campaign.campaign_style.google_sem_campaigns
  %article
    %h3 Adwords Campaigns
    %table
      %thead
        %tr
          %th Name
          %th Clicks
          %th Impressions
          %th CTR
          %th Avg. CPC
          %th Adwords Cost
          %th Avg. Position
          %th Quality Score
      %tbody
        -adwords_campaigns.each do |adwords_campaign|
          %tr
            %td= adwords_campaign.name
            %td= adwords_campaign.clicks_between(@start_date, @end_date)
            %td= adwords_campaign.impressions_between(@start_date, @end_date)
            %td= (sprintf("%.3f", (adwords_campaign.click_through_rate_between(@start_date, @end_date) * 100)) + '%')
            %td= "$#{sprintf("%.2f", adwords_campaign.average_cost_per_click_between(@start_date, @end_date))}"
            %td= "$#{sprintf("%.2f", adwords_campaign.cost_between(@start_date, @end_date))}"
            %td= sprintf("%.2f", adwords_campaign.average_position_between(@start_date, @end_date))
            %td= "#{sprintf("%.2f", adwords_campaign.average_quality_score_between(@start_date, @end_date))}/10"