- if @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  %article.blank
    %h1.strong Make your campaign go somewhere
    %h2.quiet Campaigns are the glue that connect people to your business. How customers get a hold of you affects how you track leads. Start tracking your campaign by adding a forwarding number or generating a form for a website.
    = link_to "Add New Phone Number", new_channel_campaign_phone_number_path(@account, @channel, @campaign), :rel => "facebox", :class => "button"
    or
    = link_to "Create Website Form", "#", :class => "button"

- unless @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  %header
    %h1= @campaign.name
    %h2= @account.name
  %article
    %h3 Campaign Details
    %table
      %thead
        %tr
          %th Lead Calls
          %th All Calls
          %th Lead Forms
          %th All Forms
          %th Total Leads
          %th Total Contacts
          %th Spend
          %th Cost Per Lead
          %th Cost Per Contact
      %tbody
        %tr
          %td= @campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_all_calls_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_total_leads_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
          %td= ActionController::Base.helpers.number_to_currency(@campaign.spend_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_lead_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_contact_between(@start_date, @end_date))

    - adwords_campaigns = @campaign.campaign_style.google_sem_campaigns
    %h3 Adwords Campaigns(In progress)
    %table
      %thead
        %tr
          %th Adwords Campaign Name
          %th Clicks
          %th Impressions
          %th CTR
          %th Avg. CPC
          %th Adwords Cost
          %th Avg. Position
          %th Quality Score
      %tbody
        -adwords_campaigns.each do |adwords_campaign|
          %tr
            %td= link_to adwords_campaign.name, show_account_campaign_google_sem_campaign_path(resource.account.id, resource, adwords_campaign)
            %td= adwords_campaign.clicks_between(@start_date, @end_date)
            %td= adwords_campaign.impressions_between(@start_date, @end_date)
            %td= (sprintf("%.3f", (adwords_campaign.click_through_rate_between(@start_date, @end_date) * 100)) + '%')
            %td= "$#{sprintf("%.2f", adwords_campaign.average_cost_per_click_between(@start_date, @end_date))}"
            %td= "$#{sprintf("%.2f", adwords_campaign.cost_between(@start_date, @end_date))}"
            %td= sprintf("%.2f", adwords_campaign.average_position_between(@start_date, @end_date))
            %td= "#{sprintf("%.2f", adwords_campaign.average_quality_score_between(@start_date, @end_date))}/10"

    %h3 Connections
    %h4 Forms
    %p
      - @campaign.contact_forms.each do |form|
        = "Your contact form ID is: #{form.id}"
        %br
        = text_area_tag 'form', form.generate_js_snippet
    %h4 Phone Numbers
    - @campaign.phone_numbers.each do |number|
      %li= "Your inbound number is: #{number.inboundno}, Forwarded to: #{number.forward_to}"