%article
  %h3 Conversion Details
  %table
    %thead
      %tr
        %th Lead Calls
        %th All Calls
        %th Lead Forms
        %th All Forms
        %th Total Leads
        %th Total Contacts
        %th Spend
        %th Cost Per Lead
        %th Cost Per Contact
    %tbody
      %tr
        %td= @campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_calls_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_leads_between(@start_date, @end_date).to_s
        %td= @campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
        %td= ActionController::Base.helpers.number_to_currency(@campaign.spend_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_lead_between(@start_date, @end_date))
        %td= ActionController::Base.helpers.number_to_currency(@campaign.cost_per_contact_between(@start_date, @end_date))
  -if @campaign.website.present?
    %h3= @campaign.website.nickname
    %table
      %thead
        %th Visitors
        %th Clicks
        %th Bounce Rate
        %th Avg Clicks
        %th Avg Time Spent
        %th Bounce Rate
        %th Overall Conversion Rate
        %th Unique Conversion Rate
      %tbody
        %tr
          %td= @campaign.number_of_visits_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_actions_between(@start_date, @end_date).to_s
          %td= @campaign.number_of_bounces_between(@start_date, @end_date).to_s
          %td= '%.2f' % @campaign.number_of_average_actions_between(@start_date, @end_date).to_s
          %td
            - @avg_time = @campaign.average_total_time_spent_between(@start_date, @end_date).to_i
            = [(@avg_time/3600).to_s + 'h', (@avg_time/60 % 60).to_s + 'm', (@avg_time % 60).to_s + 's'].map{|t| t.to_s.rjust(2,'0')}.join(':')
          %td= (sprintf("%.2f", (@campaign.bounce_rate_between(@start_date, @end_date) * 100)) + '%')
          %td= (sprintf("%.2f", (@campaign.website.overall_conversion_rate_between(@start_date, @end_date) * 100)) + '%')
          %td= (sprintf("%.2f", (@campaign.website.unique_conversion_rate_between(@start_date, @end_date) * 100)) + '%')
    -if @campaign.is_seo?
      %h3 Rankings
      %table
        %thead
          %tr
            %th Keyword (Click for History)
            %th Last Updated
            %th Google
            %th Month Change
            %th Yahoo
            %th Month Change
            %th Bing
            %th Month Change
        %tbody
          - (@campaign.campaign_style.keywords.sort { |a,b| a.descriptor <=> b.descriptor }).each do |keyword|
            %tr
              %td= link_to keyword.descriptor, keyword_path(keyword)
              %td= keyword.most_recent_ranking().created_at.strftime("%m/%d/%y %I:%M %p") if keyword.most_recent_ranking.present?
              %td= ((final_ranking = ((ranking = keyword.most_recent_google_ranking_between(@start_date, @end_date))) > 100 ? '>100' : ranking.to_s) == '0') ? '' : final_ranking
              %td= keyword.google_ranking_change_between(@start_date, @end_date) 
              %td= ((final_ranking = ((ranking = keyword.most_recent_yahoo_ranking_between(@start_date, @end_date))) > 100 ? '>100' : ranking.to_s) == '0') ? '' : final_ranking
              %td= keyword.yahoo_ranking_change_between(@start_date, @end_date) 
              %td= ((final_ranking = ((ranking = keyword.most_recent_bing_ranking_between(@start_date, @end_date))) > 100 ? '>100' : ranking.to_s) == '0') ? '' : final_ranking
              %td= keyword.bing_ranking_change_between(@start_date, @end_date)    
  - if can? :update, @campaign
    %h3 Phone Numbers On Campaign
    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Number
      %tbody
        -@campaign.phone_numbers.each do |number|
          %tr
            %td= number.name
            %td= number.descript
            %td= number.inboundno
    - form_for @campaign, :url => account_campaign_path(@account, @campaign) do |f| 
      = f.select(:adopting_phone_number, PhoneNumber.selectable_orphaned_phone_numbers, :include_blank => true)
      = f.submit(:update)
  %h3 Form Submissions
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Phone Number
        %th Submission Time
        %th Date Requested
        %th Time Requested
        %th Work Description
    %tbody
      -@campaign.submissions.lead.between(@start_date, @end_date).each do |submission|
        %tr
          %td= submission.name
          %td= submission.from_email
          %td= submission.phone_number
          %td= submission.time_of_submission.in_time_zone.to_s(:short)
          %td= submission.date_requested
          %td= submission.time_requested
          %td= submission.work_description
  
  -if can? :create, ContactForm
    = link_to '+ Create Form', new_campaign_contact_form_path(@campaign), :class => "submit button", :name => "submit"
  
  %h3 Call Log
  %table
    %thead
      %tr
        %th Caller
        %th Caller #
        %th Inbound #
        %th Time of Call
        %th Duration
        %th Result
        %th Recording
        %th Review
    %tbody
      -@campaign.calls.between(@start_date, @end_date).each do |call|
        %tr
          %td= call.caller_name
          %td= number_to_phone(call.caller_number)
          %td= number_to_phone(call.inboundno)
          %td= call.call_start.in_time_zone.to_s(:short)
          %td= call.duration
          %td= call.call_status
          %td.recording
            -if call.recorded? && call.recording?
              = link_to('Listen', call.recording.expiring_url(14400))
              = mp3_player "#{call.recording.expiring_url(14400)}", :bg => "EEEEEE", :track => "EEEEEE", :slider => "222222", :loader => "EEEEEE"
            -else
              = "Call Recording Unavailable"
          %td
            - form_for (call.activity) do |f|
              = f.select(:review_status, (call.review_status_options))
              = f.hidden_field(:campaign_id, {:value => params[:id]})