- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(refreshGraph, 900000);
    });

    function refreshGraph() {
      window.location = self.location;
      setTimeout(refreshGraph, 900000);
    }
    
- if @user
  - if @user.admin?
    %header
      %h1= @user.email
      %h2 Dashboard
    %article 
      =high_chart("total_daily_leads", @total_daily_leads)
      %hr
      .stats
        %aside
          %p Total Accounts
          %h3#active_accounts= @accounts_count
        %aside
          %p Total Users
          %h3#users= @users_count
        %aside
          %p Leads Today
          %h3#leads= @leads_count

  -elsif @user.group_user? 
    %header
      %h1= @user.acquainted_group_accounts.collect(&:name)
      %h2 Dashboard
    %article 
      .stats
        %aside
          %p Active Accounts
          %h3#active_accounts= @active_accounts_count
        %aside
          %p Total Users
          %h3#users= @users_count
        %aside
          %p Leads Today
          %h3#leads= @leads_count
        =high_chart("total_daily_leads", @total_daily_leads)     
        
  - elsif @user.account_user?
    %header
      %h1= @user.acquainted_group_accounts.collect(&:name)
      %h2 Dashboard
    %article 
      =high_chart("total_daily_leads", @total_daily_leads)