:javascript
  audiojs.events.ready(function() {
    audiojs.createAll();
  });
%header
  %h1 Welcome to Grid
%article
  %h2 New fun things are being added daily, please use the feedback button at the bottom right to report issues or suggest new features.
  
  - if @user.admin?
    %hr
    %h3= "Total Accounts: #{@accounts}"
    %h3= "Total Active Accounts: #{@active_accounts}"
    %h3= "Total Inactive Accounts: #{@inactive_accounts}"
    %h3= "Total Reseller Accounts: #{@reseller_accounts}"
    %h3= "?? Leads Generated Today: #{@reseller_accounts}"
    
    %audio{:preload => "none", :type => "audio/mpeg"}
      %source{:src => "http://s3.amazonaws.com/audiojs/03-its-all-about-the-crystalizabeths.mp3"}
    
  