:javascript
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox()
  })

  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
%header
  %h1 Welcome to Grid
%article
  %h2 New fun things are being added daily, please use the feedback button at the bottom right to report issues or suggest new features.
  
  - if @user.admin?
    %h3= "Total Accounts: #{@accounts}"
    %h3= "Total Active Accounts: #{@active_accounts}"
    %h3= "Total Inactive Accounts: #{@inactive_accounts}"
    %h3= "Total Reseller Accounts: #{@reseller_accounts}"
  