%script
  $(function(){
  $('#datepicker').datepicker(); 
  });
%header
  %h2 Lead Matrix for #{@campaign.name}
  
%article
  -form_for(lead_matrix_admin_campaign_path, :html => {:method => "get"}) do |f|
    = f.text_field :datepicker, :name => "datepicker", :id => "datepicker"
    = f.submit "Date Evaluated"
%article
  -form_for(lead_matrix_admin_campaign_path, :html => {:method => "get"}) do |f|
    = f.text_field :minutepicker, :name => "minutepicker", :id => "minutepicker"
    = f.submit "Minutes Past Visit"
  %h3= @date_selected.to_s(:long) + ' : ' + @minutes_selected.to_s + ' Minutes Past the Visit'
-if @campaign.website.present?  
  %table
    %thead
      %th Visit Time
      %th Location
      %th Keyword
      %th Calls
    %tbody
      - @campaign.website.website_visits.between(@date_selected, @date_selected).each do |web_visit|
        %tr
          %td= web_visit.time_of_visit.strftime("%m/%d/%y %I:%M %p")
          %td= web_visit.geolocation
          %td= web_visit.referrer_search
          %td
            %table
              %thead
                %th Time
                %th Name
                %th Description
              %tbody
                -leads = web_visit.possible_calls(@minutes_selected.to_i) + web_visit.possible_submissions(@minutes_selected.to_i)
                -leads.each do |lead|
                  %tr
                    %td= (lead.class == Call ? lead.call_start.strftime("%m/%d/%y %I:%M %p") : lead.time_of_submission.strftime("%m/%d/%y %I:%M %p"))
                    %td= (lead.class == Call ? lead.caller_name : lead.name)
                    %td= (lead.class == Call ? '' : lead.work_description)
-else
  %h4 There is no website associated with this campaign. Please add one to view the lead matrix.
         