%h1
  Summary for #{@campaign.name}

- if @campaign.is_sem?
  .section#first-section
    .left#timeline_chart
      %h3 Campaign Performance
      = render :partial => "shared/timeline"
    .right
      = render :partial => "shared/gauge"
  .clear
-else
  .section#first-section
    .left#timeline_chart
      %h3 Campaign Performance
      = render :partial => "shared/timeline"
    .right
      = render :partial => "shared/news_results"
  .clear     

%h3
  Last Week
%table{:class => "pretty"}
  %thead
    %tr
      %th
        Calls
      %th
        Forms
      %th
        Total Leads
      %th
        Spend
      %th
        Cost Per Lead
  %tbody
    %tr
      %td
        = @campaign.number_of_all_calls_between(Date.today - 1.week, Date.today).to_s
      %td
        = @campaign.number_of_submissions_between(Date.today - 1.week, Date.today).to_s
      %td
        = @campaign.number_of_total_leads_between(Date.today - 1.week, Date.today).to_s
      %td
        = ActionController::Base.helpers.number_to_currency(@campaign.spend_between(Date.today - 1.week, Date.today))
      %td
        = ActionController::Base.helpers.number_to_currency(@campaign.cost_per_lead_between(Date.today - 1.week, Date.today))
%h3
  Phone Numbers On Campaign
%table{:class => "pretty"}
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th
        Number
  %tbdoy
    -@campaign.phone_numbers.each do |number|
      %tr
        %td
          = number.name
        %td
          = number.descript
        %td
          = number.inboundno

%h3
  Call Log
%table{:class => "pretty"}
  %thead
    %tr
      %th
        Caller
      %th
        Caller #
      %th
        Inbound #
      %th
        Time of Call
      %th
        Duration
      %th
        Result
      %th
        Recording
  %tbody
    -@campaign.calls.find(:all, :conditions => ['call_start between ? AND ?', Date.today.to_time.utc.at_beginning_of_day - 1.week, Date.today.to_time.utc.end_of_day]).each do |call|
      %tr{ :class => cycle('odd', 'even')}
        %td
          = call.caller_name
        %td
          = number_to_phone(call.caller_number)
        %td
          = number_to_phone(call.inboundno)
        %td
          = call.call_start.in_time_zone.to_s(:short) + " UTC"
        %td
          = call.duration
        %td
          = call.call_status
        %td
          -if call.recorded? && call.recording?
            = mp3_player "#{call.recording.expiring_url(14400)}", :bg => "EEEEEE", :track => "EEEEEE", :slider => "222222", :loader => "EEEEEE"
          -else
            =image_tag("sound.png", :height => "14", :width => "14")
            Call Recording Unavailable



