%h3 View Form
%br
="Form Description: #{@form.description}"
%br
="Email To (Comma Separated): #{@form.forwarding_email}"
%br
="BCC Email To (Comma Separated): #{@form.forwarding_bcc_email}"
%br
="Link To Return To: #{@form.return_url}"
%br
="Custom Field 1: #{@form.custom1_text}"
%br
="Custom Field 2: #{@form.custom2_text}"
%br
="Custom Field 3: #{@form.custom3_text}"
%br
="Custom Field 4: #{@form.custom4_text}"
%br
="Include Name? "
%input{:name => "need_name", :type=>"checkbox", :checked=>@form.need_name, :disabled => "true"}
%br
="Include Address?"
%input{:name => "need_address", :type=>"checkbox", :checked=>@form.need_address, :disabled => "true"}
%br
="Include Phone Number?"
%input{:name => "need_phone", :type=>"checkbox", :checked=>@form.need_phone, :disabled => "true"}
%br
="Include Email?"
%input{:name => "need_email", :type=>"checkbox", :checked=>@form.need_email, :disabled => "true"}
%br
="Include Work Category?"
%input{:name => "work_category", :type=>"checkbox", :checked=>@form.work_category, :disabled => "true"}
%br
="Include Work Description?"
%input{:name => "work_description", :type=>"checkbox", :checked=>@form.work_description, :disabled => "true"}
%br
="Include Date Requested?"
%input{:name => "date_requested", :type=>"checkbox", :checked=>@form.date_requested, :disabled => "true"}
%br
="Include Time Requested?"
%input{:name => "time_requested", :type=>"checkbox", :checked=>@form.time_requested, :disabled => "true"}
%br
="Include Other Information?"
%input{:name => "other_information", :type=>"checkbox", :checked=>@form.other_information, :disabled => "true"}
%br
%br
%textarea{:width => "500", :height => "300"}="#{@form.get_form_text}"

  
