:javascript
  var previousVal = $("#campaign_name").val();
  $(document).ready(function(){
    $('#cancel').click(function(){$.facebox.close()});
    $("#update").click(function(){
      // If nothing was changed, close facebox
      if(previousVal == $("#campaign_name").val()) {
        $.facebox.close();
        return;
      }
      $('.edit_campaign').validate();
      // If it is valid, submit
      if( $('.edit_campaign').valid() )
        $(".edit_campaign").submit();
    });
  });

- form_for @campaign, :url => channel_campaign_path, :method => "put" do |f|
  %header
    %h1= "Edit #{@campaign.name}"
  %article
    %label Name
    %br
    = f.text_field :name, :class => 'required title'
    %hr
    %label Google Campaign ID
    %br
    %label.quiet For multiple separate with commas
    %br
    %input.title{:type => "text"}
    %br
    %label Landing Page
    %br
    %input.title{:type => "text"}
    %br
    %label Mark up (%)
    %br
    %input.title{:type => "text"}
    %br
    %hr
    %label URL
    %br
    %input.title{:type => "text"}
    %br
    %label Keywords
    %br
    %label.quiet For multiple separate with commas
    %br
    %input.title{:type => "text"}
    %br
    %label Budget
    %br
    %input.title{:type => "text"}
    %br
    = link_to 'Pause this Campaign', channel_campaign_path(@account, @channel, @campaign), :class => "button", :confirm => "This will delete this campaign, are you sure?", :method => :delete
%footer
  #submit
    = link_to "Cancel", "#", :class => "cancel", :id => 'cancel'
    %button{:id => 'update', :class => 'button'} Update
  %hr.space