- form_for @campaign, :url => channel_campaign_path, :method => "put" do |f|
  %header
    %h1= "Edit #{@campaign.name}"
  %article
    = f.label "Name"
    %br
    = f.text_field :name
    %br
    = link_to 'Delete this Campaign', channel_campaign_path(@account, @channel, @campaign), :confirm => "This will delete this campaign, are you sure?", :method => :delete
  %footer
    #submit
      = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
      = f.submit "Update", :class => 'button'
    %hr.space