:javascript
  $(document).ready(function(){
    $('#cancel').click(function(){$.facebox.close(); return false;});
    $("#create").click(function(){
      $('#new_campaign').validate();
      // If it is valid, submit
      if( $('#new_campaign').valid() )
        $("#new_campaign").submit();
    });
  });

%header
  %h1
    New Campaign -
    %span= @channel.name
  %h2.quiet= @account.name
%article
  - form_for @campaign, :url => channel_campaigns_path do |f|
    - if @channel.is_basic?
      = f.label "Name"
      %br
      = f.text_field(:name, :placeholder => "CityVoice", :class => "title required")

    - elsif @channel.is_seo?
      %label Name
      %br
      %input.title{:id => "campaign_name", :name => "campaign[name]", :class => "text required"}
      %br
      %br
      %label URL
      %br
      %input.title{:id => "campaign_url", :name => "campaign[url]", :class => "text required"}
      %br
      %br
      %label Keywords (1 per line)
      %br
      %textarea.title{:id => "campaign_keywords", :name => "campaign[keywords]", :class => "text required", :rows => 10}
      %br
      %br
      %label Budget
      %br
      %input.title{:id => "campaign_budget", :name => "campaign[budget]", :class => "text required"}

    - elsif @channel.is_sem?
      %label Name
      %br
      %input.title{:id => "campaign_name", :name => "campaign[name]", :class => "text required"}
      %br
      %br
      %label Google Campaign ID
      %br
      %input.title{:id => "campaign_adwords_id", :name => "campaign[adwords_id]", :class => "text required"}
      %br
      %label Landing Page
      %br
      %input.title{:id => "campaign_landing_page", :name => "campaign[landing_page]", :class => "text required"}
      %br
      %label Mark up
      %br
      %input.title{:id => "campaign_rake", :name => "campaign[rake]", :class => "text required"}

%footer
  #submit
    = link_to "Cancel", "", :class => "cancel", :id => 'cancel'
    %button{:id => 'create', :class => "button"} Create Campaign
  %hr.space