%header
  %h3 Create Campaign
  %h4.quiet= "#{@account.name} #{@basic_channel.name}"
%article
  #create.span-8.append-1
    -form_for @basic_campaign, :url => basic_channel_campaigns_path do |f|
      = f.label "Name"
      %br
      = f.text_field(:name, :placeholder => "CityVoice")
      %br
      %label Forwarding Number
      %br
      %label.small.quiet Where you want all your calls to go to
      %br
      %input{:type => "text", :placeholder => "2108446400", :class => "title", :maxlength => "10"}
      %label Area Code
      %br
      %label.small.quiet For your new tracking phone number
      %br
      %input{:type => "text", :placeholder => "210", :class => "title", :maxlength => "3"}
      %input{:type => "submit", :value => "Create Campaign", :class => "button"}
  #helper.span-13.last.box
    %h3 What is going on?
    %p.quiet By creating a campaign, you will be given a phone number to put on your marketing material. This phone number is specific to your marketing campaign and all calls can be tracked through Grid. 
    
    
    
    =#:url => basic_channel_campaigns_path