:javascript
  $(document).ready(function() {
    $(".edit_activity").change(function() {
      this.submit();
    });
  })
%header
  %p.right= render :partial => 'shared/lead_matrix'
  %p.right= " | "
  %p.right= render :partial => 'shared/orphaned'
  %h2 #{@campaign.name}
  #datepicker=render :partial => "shared/date_picker"
  
- if @campaign.is_seo?
  = render :partial => 'campaigns/campaign_types/seo'
- elsif @campaign.is_sem?
  = render :partial => 'campaigns/campaign_types/sem'
- elsif @campaign.is_maps?
  = render :partial => 'campaigns/campaign_types/maps'
- elsif @campaign.is_other?
  = render :partial => 'campaigns/campaign_types/other'
- elsif @campaign.is_managed?
  = render :partial => 'campaigns/campaign_types/managed'
- else
  = render :text => "Ooops, looks like that is an invalid campaign type"
  
-if can? :manipulate_campaign, @campaign
  = link_to "Create Contact Form", new_campaign_contact_form_path(@campaign), :class => "button"