- if @campaign.is_basic?
  = render :partial => 'campaigns/campaign_types/basic'
- elsif @campaign.is_seo?
  = render :partial => 'campaigns/campaign_types/seo'
- elsif @campaign.is_sem?
  = render :partial => 'campaigns/campaign_types/sem'

- unless @campaign.phone_numbers.blank? || @campaign.contact_forms.blank?
  %br  
  = link_to "Add New Phone Number", new_channel_campaign_phone_number_path(@account, @channel, @campaign), :rel => "facebox", :class => "button"
  or
  = link_to "Create Contact Form", new_channel_campaign_contact_form_path(@account, @channel, @campaign), :rel => "facebox", :class => "button"