= javascript_include_tag 'jquery.mapkey.js'
:javascript
  var calls_active = true;
  var submissions_active = false;
  $(document).ready(function(){
    // Initially hide submissions
    $("#submissions").hide();

    // Toggle clicks
    $("#toggle_calls").click(function(){
      if( calls_active ) {
        $("#calls").hide('blind', 250);
        $("#toggle_calls").html('Show Calls');
        calls_active = false;
      } else {
        $("#calls").show('blind', 250);
        $("#toggle_calls").html('Hide Calls');
        calls_active = true;
      }
      return false; // keep the browser from being jerky
    });

    // Toggle clicks
    $("#toggle_submissions").click(function(){
      if( submissions_active ) {
        $("#submissions").hide('blind', 250);
        $("#toggle_submissions").html('Show Submissions');
        submissions_active = false;
      } else {
        $("#submissions").show('blind', 250);
        $("#toggle_submissions").html('Hide Submissions');
        submissions_active = true;
      }
      return false; // keep the browser from being jerky
    });

  });

- if @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  %article.blank
    .prepend-1.span-4= image_tag("icons/blank_campaign.png")
    .span-14.append-1.last
      %h1.strong Make your campaign go somewhere
      %h2.quiet Campaigns are the glue that connect people to your business. How customers get a hold of you affects how you track leads. Start tracking your campaign by adding a forwarding number or generating a form for a website.
      %br
      .button
        %a.iconic.phone
        = link_to "Add Phone Number", new_channel_campaign_phone_number_path(@account, @channel, @campaign), :rel => "facebox"
      or
      .button
        %a.iconic.article
        = link_to "Create Contact Form", new_channel_campaign_contact_form_path(@account, @channel, @campaign), :rel => "facebox"
-else
  %header
    -if can? :manipulate_campaign, @campaign
      %p.right=# link_to 'Assign Number', orphaned_channel_path(@account, @channel), :class => "submit", :name => "submit"
    .menu
      -unless @current_user.account_user? && (@campaign.is_seo? || @campaign.is_sem?)
        = link_to "", edit_channel_campaign_path, :rel => "facebox", :title => "Edit Campaign", :class => 'tiptip iconic cog'
    %h1= @campaign.name
    %h2.quiet= link_to @account.name, account_path(@account)
    %datepicker= render :partial => "shared/date_picker"
  %article
    - if @campaign.is_basic?
      = render :partial => 'campaigns/campaign_types/basic'
    - elsif @campaign.is_seo?
      = render :partial => 'campaigns/campaign_types/seo'
    - elsif @campaign.is_sem?
      = render :partial => 'campaigns/campaign_types/sem'
    = render :partial => 'campaigns/campaign_types/common'

