- if @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  %article.blank.notice
    %h1.strong Make your campaign go somewhere
    %h2.quiet Campaigns are the glue that connect people to your business. How customers get a hold of you affects how you track leads. Start tracking your campaign by adding a forwarding number or generating a form for a website.
-else
  %header
    %h1= @campaign.name
    %h2.quiet= @account.name

%datepicker= render :partial => "shared/date_picker"

- if @campaign.is_basic?
  = render :partial => 'campaigns/campaign_types/basic'
- elsif @campaign.is_seo?
  = render :partial => 'campaigns/campaign_types/seo'
- elsif @campaign.is_sem?
  = render :partial => 'campaigns/campaign_types/sem'

= render :partial => 'campaigns/campaign_types/common'