#menu
  %ul#nav.sf-menu
    - if @current_user
      -#%li= link_to "Welcome", welcome_url
      %li= link_to "Dashboard", dashboard_url
      
      - if @current_user.admin?
        %li= link_to "Accounts", accounts_url
        %li= link_to "Leads", activities_url
        %li
          = link_to "Admin", "#"
          %ul
            %li.first-sub-link= link_to "Search", searches_url
            %li= link_to "Users", users_url
            %li.last-sub-link= link_to "Jobs", job_statuses_url

      - else
        - if can? :read, Account
          %li= link_to "Accounts", accounts_url
          -#= @current_user.count == 1 ? (link_to "Channels", accounts_url) : (link_to "Account", accounts_url)

        - if @current_user.group_user?
          - if can? :read, Activity
            %li= link_to "Leads", activities_url
      %li
        = link_to @current_user.email, "#", :class => "current"
        %ul
          %li.first-sub-link= link_to "My Info", "#"
          %li.last-sub-link= link_to "Log Out", logout_url
    - else
      -#= link_to "Register", register_path
      %li= link_to "Log In", login_url