%nav
  %ul
    - if @current_user
      - if @current_user.admin?

        -# Dashboard
        %li{:class => (request.url.include?("dashboard")? 'active' : '')}
          .triangle
          %a.iconic.dial
          = link_to "Dashboard", dashboard_url

        -# Accounts
        %li{:class => (request.url.include?("accounts")? 'active' : '')}
          .triangle
          %a.iconic.book-alt
          = link_to "Accounts", accounts_url

        -# Activities
        %li{:class => (request.url.include?("activities")? 'active' : '')}
          .triangle
          %a.iconic.star
          = link_to "Leads", activities_url

        -# Searches
        %li{:class => (request.url.include?("searches")? 'active' : '')}
          .triangle
          %a.iconic.magnifying-glass
          = link_to "Search", searches_url

        -# Users
        %li{:class => (request.url.include?("users")? 'active' : '')}
          .triangle
          %a.iconic.user 
          = link_to "Users", users_url
        
        -# Jobs
        %li{:class => (request.url.include?("job_statuses")? 'active' : '')}
          .triangle
          %a.iconic.new-window
          = link_to "Jobs", job_statuses_url

      - else
        -# Dashboard
        %li{:class => (request.url.include?("dashboard")? 'active' : '')}
          .triangle
          %a.iconic.dial
          = link_to "Dashboard", dashboard_url

        - if can? :read, Account
          -# Accounts
          %li{:class => (request.url.include?("accounts")? 'active' : '')}
            .triangle
            %a.iconic.book-alt
            = link_to "Accounts", accounts_url

        - if can? :read, Activity
          %li{:class => (request.url.include?("activities")? 'active' : '')}
            .triangle
            %a.iconic.star
            = link_to "Leads", activities_url
    - else
      -#= link_to "Register", register_path
      %li{:class => (request.url.include?("login")? 'active' : '')}
        .triangle
        %a.iconic.locked
        = link_to "Login", login_path
