!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %title= @browser_title || 'Powered by Grid'

  %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %meta{:charset => "utf-8"}/
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %meta{:content => "Marketing tool in progress", :name => "description"}/
  %meta{:content => "CityVoice Engineering - Mark Mayfield, Ben Niemietz, Alex Manelis, Alex Baldwin", :name => "author"}/
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{:rel => "shortcut icon", :href => "/images/favicon.ico" }

  /[if IE]
    = stylesheet_link_tag 'ie'
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css', '//smooth-meadow-484.heroku.com/iconic_stroke.css', 'screen', 'application'
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', 'modernizr', 'audiojs/audio.js', 'facebox', 'highcharts', "jquery.tipTip.minified", 'application', 'jquery.flash', 'jquery.validate.min'

%body
  .container#wrapper
    %header.span-24#toolbar
      = link_to image_tag("cityvoice_header_logo.png"), root_path
      %ul
        - if @current_user
          %li= link_to "My Info", edit_user_path(@current_user)
          %li= link_to 'Logout', user_session_path, :method => :delete, :id => "logout"
        - else
          -#= link_to "Register", register_path
          %li= link_to "Login", login_path
    #navigation.span-4
      =render :partial => "layouts/nav"
    %section#content.span-20.last
      #yield
        =render :partial => "layouts/flash", :locals => { :flash => flash }
        = yield
  .container#footer
    %footer
      %small
        .right=mail_to "alex.baldwin@cityvoice.com", "Help", :subject => "Grid Feedback/Support", :class => "button action"
        &copy; 2011 Grid. All rights reserved.
        %br
        A service of
        = link_to "CityVoice", "http://cityvoice.com"
