!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %title= @browser_title || 'Powered by Grid'

  %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %meta{:charset => "utf-8"}/
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %meta{:content => "Marketing tool in progress", :name => "description"}/
  %meta{:content => "CityVoice Engineering - Mark Mayfield, Ben Niemietz, Alex Manelis, Alex Baldwin", :name => "author"}/
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{:rel => "shortcut icon", :href => "/images/favicon.png" }
  
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css', 'screen', 'facebox', 'application'
  /[if IE]
    = stylesheet_link_tag 'ie'
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', 'modernizr', 'http://kolber.github.com/audiojs/audiojs/audio.js', 'facebox', 'highcharts', 'application'

%body
  .container
    %header#navbar
      #logo.span-2=link_to image_tag("grid_logo.png"), root_url
      %nav=render :partial => "layouts/nav"
    =render :partial => "layouts/flash", :locals => { :flash => flash }
    %section#content
      = yield
    %footer
      %small
        &copy; Copyright 2010
        =link_to "CityVoice", "http://www.cityvoice.com"
        .right
          =mail_to "alex.baldwin@cityvoice.com", "Feedback/Support", :subject => "Grid Feedback/Support"