!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %title= @browser_title || 'Powered by Grid'

  %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %meta{:charset => "utf-8"}/
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %meta{:content => "Marketing tool in progress", :name => "description"}/
  %meta{:content => "Paul Singh, Mark Mayfield, Alex Manelis, Alex Baldwin", :name => "author"}/
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{:rel => "shortcut icon", :href => "/images/favicon.ico" }

  /[if IE]
    = stylesheet_link_tag 'ie'
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css', '//smooth-meadow-484.heroku.com/iconic_stroke.css', 'screen', 'application'
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', 'modernizr', 'audiojs/audio.js', 'facebox', 'highcharts', "jquery.tipTip.minified", 'application', 'jquery.flash', 'jquery.validate.min', 'jquery.scrollTo.min'

%body
  .container#wrapper
    %header#toolbar
      = link_to "CityVoice", root_path, :id => "logo"
      .right= link_to "Login", login_path, :class => "button"
    %section#content
      #yield
        =render :partial => "layouts/flash", :locals => { :flash => flash }
        = yield
    %footer
      %small Grid is a service of CityVoice.
  %hr.space
    <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('7de24727849be75cd790f4318d0d8244'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
    - if request.host == "grid.cityvoice.com"
      :javascript
        mpmetrics.track('#{request.request_uri}');