:javascript
  #{render :partial => 'accounts/js/edit.js'}

= content_for :crumb do
  = link_to "Accounts", accounts_path
  >
  = link_to @account.name, account_path
  >
  Edit


%h1= "Edit #{@account.name}"
%span.silver-btn= link_to 'Pause this Account', account_path(@account), :class => "button", :confirm => "This will pause this account, are you sure?", :method => :delete
%br
%br
.separator

%h2 Account
.column-2
  %h3 Information
  - form_for @account, :url => account_path do |f|
    = f.label :name
    %br
    = f.text_field :name, :class => "title"
    %br
    = f.label :main_contact
    %br
    = f.text_field :main_contact, :class => "title"
    %br
    %label Cycle Start Date
    %br
    %br
    = f.label :industry
    %br
    = f.select :industry, Account.find(:all).collect(&:industry).uniq
    %br
    %br
    = f.submit "Save"

.column-2-last
  %h3 Channel Managers
  %br
  - @account.channels.select(&:is_seo?).each do |seo_channel|
    %label= seo_channel.name
    %br

    %select{:id => "seo_manager_#{seo_channel.id}"}
      %option{:value => "0"} - Change Account Manager -
      - @account.group_account.potential_account_managers.collect.each do |manager|
        %option{:value => manager.id}=manager.name
    %br

  - @account.channels.select(&:is_sem?).each do |sem_channel|
    %label= sem_channel.name
    %br

    %select{:id => "sem_manager_#{sem_channel.id}"}
      %option{:value => "0"} - Change Account Manager -
      - @account.group_account.potential_account_managers.collect.each do |manager|
        %option{:value => manager.id}=manager.name
    %br






