- form_for @account, :url => account_path do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  %br
  = f.label :main_contact
  %br
  = f.text_field :main_contact
  %br
  %br
  = f.label :industry
  %br
  = f.select :industry, Account.find(:all).collect(&:industry).uniq
  %br
  %br
  
  %label Account Manager
  - if @account.account_manager.nil?
    - @data = ['- Select -', 0].to_s
  - else
    - @data = @account.account_manager.name
  
  %br
  = select_tag('account_manager', options_for_select([['- Change Account Manager -', "0"]] + @account.group_account.potential_account_managers.collect {|x| [x.name, x.id]}, @account.account_manager.try(:id)))
  %br
  %br
  = link_to 'Pause this Account', account_path(@account), :class => "button", :confirm => "This will pause this account, are you sure?", :method => :delete
  %br
  = f.submit "Update"
  
  
  