:javascript
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox()
  })
%header
  - if @current_user.admin? || @current_user.group_user?
    %ul.right.strong
      %li
        %a{:onclick => "confirm_refresh_accounts();"}
          Refresh
          %br
          = image_tag ("icons/refresh.png")  
  %h1 Accounts
  %h2= (Date.yesterday.beginning_of_month).to_s(:long) + ' to ' + Date.yesterday.to_s(:long)
%article
  %form{:href => '/', :action => "accounts", :id => 'index', :name => 'index', :method => 'GET'}
    %label
      = "Account Status: "
    %select{:id => :account_status, :name => :account_status}
      - for status in @accounts_statuses
        %option{ :selected => status == @passed_status}= status
    %label
      = "Account Type: "
    %select{:id => :account_type, :name => :account_type}
      %option
        = ''
      - for account_type in @accounts_types
        %option{ :selected => account_type == @passed_type}= account_type
    %input{:type => 'submit', :value => 'Filter'}
    #loading
  %table
    %thead
      %tr
        %th Company
        %th Account Type
        %th CTR
        %th Total Leads
        %th CPConv
    %tbody
      - @accounts.each do |account|
        %tr
          %td= link_to account.name, account_path(account)
          -account_data = @accounts_data[account.id]
          -account_type = account.account_type
          %td= account_type
          -if account_type =~ /SEM|Mobile/i
            -ctr = account_data.present? ? account_data[:ctr] : 0.0
            %td= sprintf("%.2f", ctr) + '%'
          -else
            %td --
          %td= account_data.present? ? account_data[:leads] : 0
          -cpconv = account_data.present? ? account_data[:cpconv] : 0.0
          %td= ActionController::Base.helpers.number_to_currency(cpconv) 
  -#= link_to "Create New Account", "#", :class => "button"