%header
  - if @current_user.manipulable_group_accounts.present?
    .menu
      %a{:onclick => "confirm_refresh_accounts();", :title => "Refresh from SalesForce", :class => "tiptip iconic spin"}
      = link_to "", new_account_path, :rel => "facebox", :title => "Add Account", :class => "tiptip iconic plus-alt"
  %h1 Accounts
  %h2= (Date.yesterday.beginning_of_month).to_s(:long) + ' to ' + Date.yesterday.to_s(:long)
%article
  %form{:href => '/', :action => "accounts", :id => 'index', :name => 'index', :method => 'GET'}
    %label Status
    %select{:id => :account_status, :name => :account_status}
      - for status in @accounts_statuses
        %option{:selected => status == @passed_status}= status
    %input{:type => 'submit', :value => 'Sort'}
  %table
    %thead
      %tr
        %th Account
        %th Leads
        -#%th Manager
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            -account_data = @accounts_data[account.id]
            -account_type = account.account_type
            = link_to account.name, account_path(account)
            - if account_data.present?
              .right= image_tag(Gchart.sparkline(:data => account_data[:leads_by_day], :size => '80x15', :line_colors => '0077CC', :background => "00000000"))
          %td= account_data.present? ? account_data[:leads] : 0
          -#%td= select_tag(:account_manager, account.group_account.group_users.select{|group_user| group_user.email.present?})