:javascript
  $(document).ready(function(){
    // initially hide all of the edits
    $('.channels tr span.edit').hide();
    // Mouseover chained with a mouseleave
    $(".channels tr").mouseenter(function(){
      // when entering show
      $(this).find("span.edit").show();
    }).mouseleave(function(){
      // when leaving hide
      $(this).find('span.edit').hide();
    });
  });
%header
  .right= link_to "Edit", edit_account_path, :rel => "facebox"
  %h1= @account.name
%article
  - @seo_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th= channel.name
          %th= channel.number_of_total_leads_between(@start_date, @end_date)
          %th.cpl
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  - @sem_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th= channel.name
          %th= channel.number_of_total_leads_between(@start_date, @end_date)
          %th.cpl
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  - @basic_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th
            = link_to channel.name, channel_path(@account, channel)
            %span.edit= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
            %th= channel.number_of_total_leads_between(@start_date, @end_date)
            %th.cpl
              = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  = link_to "Create Channel", new_channel_path(@account), :class => "button", :rel => "facebox"
