%script
  $(function(){
  $('#daterangepicker').daterangepicker({arrows:false}); 
  });
%header
  .right 
    = render :partial => 'shared/links'
    - if @account.can_send_weekly_report_now?
      = link_to "| Send Email ", send_weekly_path(params[:id])
    = link_to "| Export Client PDF", report_client_pdf_path(params[:id])
  
  %h2= @account.name
  %h4.quiet 
    Account Summary for 
    #{(@start_date).to_s(:long) + ' to ' + @end_date.to_s(:long)}
  #datepicker=render :partial => "shared/date_picker"
%article
  %table
    %h3 Managed Accounts
    %thead
      %tr
        %th Campaign Name (Click for Details)
        %th Lead Calls
        %th All Calls
        %th Lead Forms
        %th All Forms
        %th Total Leads
        %th Total Contacts
        %th Cost
        %th Spend (Marked-Up)
        %th Cost Per Lead
        %th Cost Per Contact
    %tbody
      - @managed_campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, campaign_path(campaign, :daterange => params[:daterange])
          %td= campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
          %td= campaign.number_of_all_calls_between(@start_date, @end_date).to_s
          %td= campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
          %td= campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
          %td= campaign.number_of_total_leads_between(@start_date, @end_date).to_s
          %td= campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.spend_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_contact_between(@start_date, @end_date))
          
  %table
    %h3 Unmanaged Accounts
    %thead
      %tr
        %th Campaign Name (Click for Details)
        %th Lead Calls
        %th All Calls
        %th Lead Forms
        %th All Forms
        %th Total Leads
        %th Total Contacts
        %th Cost
        %th Spend (Marked-Up)
        %th Cost Per Lead
        %th Cost Per Contact
    %tbody
      - @unmanaged_campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, campaign_path(campaign, :daterange => params[:daterange])
          %td= campaign.number_of_lead_calls_between(@start_date, @end_date).to_s
          %td= campaign.number_of_all_calls_between(@start_date, @end_date).to_s
          %td= campaign.number_of_lead_submissions_between(@start_date, @end_date).to_s
          %td= campaign.number_of_all_submissions_between(@start_date, @end_date).to_s
          %td= campaign.number_of_total_leads_between(@start_date, @end_date).to_s
          %td= campaign.number_of_total_contacts_between(@start_date, @end_date).to_s
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.spend_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_lead_between(@start_date, @end_date))
          %td= ActionController::Base.helpers.number_to_currency(campaign.cost_per_contact_between(@start_date, @end_date))