:javascript
  $(document).ready(function(){
    // initially hide all of the edits
    $('.channels tr .edit').hide();

    // Mouseover chained with a mouseleave
    $(".channels tr").mouseenter(function(){
      // when entering show
      $(this).find(".edit").show();
    }).mouseleave(function(){
      // when leaving hide
      $(this).find('.edit').hide();
    });
  });

%header
  - if can? :manipulate_account, @account
    .right
      = link_to image_tag("icons/user.png"), new_account_user_path(@account), :rel => "facebox", :title => "Add User", :class => 'tiptip'
      = link_to image_tag("icons/edit.png"), edit_account_path, :rel => "facebox", :title => "Edit Account", :class => 'tiptip'
      - if @account.can_send_weekly_report_now?
        = link_to image_tag ("icons/email.png"), send_weekly_path(params[:id])
  %h1= @account.name
  %datepicker= render :partial => "shared/date_picker"
  
%article
  -# SEO #####################################################################################################################
  - @seo_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th{:width => "75%"}= channel.name
          %th{:width => "15%"}= channel.number_of_total_leads_between(@start_date, @end_date)
          %th{:class => "cpl", :width => "10%"}
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  -# SEM #####################################################################################################################
  - @sem_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th{:width => "75%"}= channel.name
          %th{:width => "15%"}= channel.number_of_total_leads_between(@start_date, @end_date)
          %th{:class => "cpl", :width => "10%"}
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  -# BASIC ###################################################################################################################
  - @basic_channels.each do |channel|
    %table.channels
      %thead
        %tr
          %th{:width => "75%"}
            = link_to channel.name, channel_path(@account, channel)
            .edit
              = link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
              = link_to "Add Campaign", new_channel_campaign_path(@account, channel), :rel => "facebox"
          %th{:width => "15%"}
            = channel.number_of_total_leads_between(@start_date, @end_date)
            Leads
          %th{:class => "cpl", :width => "10%"}
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.active.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  -# CHANNEL ##################################################################################################################
  - if can? :manipulate_account, @account
    = link_to "Create Channel", new_channel_path(@account), :class => "button", :rel => "facebox"
