:javascript
  $(document).ready(function(){
    $('.channels tr').find('.right').hide();
    $(".channels tr").mouseenter(function(){
      $(this).find(".right").show();
    }).mouseleave(function(){
      $(this).find('.right').hide();
    });
  });
%header
  %h1= @account.name
%article
  %table.channels
    - @seo_channels.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th= channel.number_of_total_leads_between(@start_date, @end_date)
          %th.cpl
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

    - @sem_channels.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th= channel.number_of_total_leads_between(@start_date, @end_date)
          %th.cpl
            = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

    - @basic_channels.each do |channel|
      %thead
        %tr
          %th
            = link_to channel.name, channel_path(@account, channel)
            .right= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
            %th= channel.number_of_total_leads_between(@start_date, @end_date)
            %th.cpl
              = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(@start_date, @end_date))
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  = link_to "Create Channel", new_channel_path(@account), :class => "button", :rel => "facebox"
