
%header
  %h1= @account.name
  %h2 Channels
%article
  %table.channels
    - unless @basic_seo.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO SEO
    - @basic_seo.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th 5 leads
          %th.cpl 
            $2.50 cost per lead
      %tr
        %td= link_to channel.name, account_channel_path(@account, channel.id, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen
        
    - unless @basic_sem.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO SEM
    - @basic_sem.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th 5 leads
          %th.cpl 
            $2.50 cost per lead
      %tr
        %td= link_to channel.name, account_channel_path(@account, channel.id, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen

    - unless @basic_channels.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO BASIC
    - @basic_channels.each do |channel|
      %thead
        %tr
          %th Channel
          %th 542 leads
          %th.price $3.50 per lead
      %tbody
        %tr
          %td= link_to channel.name, account_channel_path(@account, campaign, :daterange => params[:daterange])
          %td #Number of total leads
          %td.price #Cost per lead
  = link_to "Create Channel", "#", :class => "button"
