
%header
  %h1= @account.name
  %h2 Channels
%article
  %table.channels
    %thead
      %tr
        %th SEO Channel
        %th 5 leads
        %th.cpl $2.50 cost per lead
    - @basic_seo.each do |seo|
      %tr
        %td= link_to seo.name, basic_channel_campaign_path(@account, seo, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen
        
    %thead
      %tr
        %th SEM Channel
        %th 5 leads
        %th.cpl $2.50 cost per lead
    - @basic_sem.each do |seo|
      %tr
        %td= link_to seo.name, basic_channel_campaign_path(@account, seo, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen

    - @basic_channels.each do |channel|
      %thead
        %tr
          %th=channel.name
          %th 5 leads
          %th.cpl $2.50 cost per lead
          %th= link_to 'X', basic_channel_path(@account, channel), :confirm => "This will delete this channel, are you sure?", :method => :delete
      - channel.basic_campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, basic_channel_campaign_path(@account, channel, campaign, :daterange => params[:daterange])
          %td #Number of total leads
          %td #Cost per lead betwen
      
        
        
        
        
  = link_to "Create Channel", new_basic_channel_path(@account), :class => "button"
