:javascript
  $(document).ready(function(){
    // initially hide all of the edits
    $('.channels tr').find('.right').hide();
    // Mouseover chained with a mouseleave
    $(".channels tr").mouseenter(function(){
      // when entering show
      $(this).find(".right").show();
    }).mouseleave(function(){
      // when leaving hide
      $(this).find('.right').hide();
    });
  });
%header
  %h1= @account.name
%article
  %table.channels
    - @seo_channels.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th 5 leads
          %th.cpl $2.50 cost per lead
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

    - @sem_channels.each do |channel|
      %thead
        %tr
          %th= channel.name
          %th 5 leads
          %th.cpl $2.50 cost per lead
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

    - @basic_channels.each do |channel|
      %thead
        %tr
          %th
            = link_to channel.name, channel_path(@account, channel)
            .right= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
          %th 5 leads
          %th.cpl $2.50 cost per lead
      - channel.campaigns.each do |campaign|
        = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

  = link_to "Create Channel", new_channel_path(@account), :class => "button", :rel => "facebox"
