
%header
  %h1= @account.name
  %h2 Channels
%article
  %table.channels
  
    - unless @basic_seo.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO SEO
    %thead
      %tr
        %th SEO Channel
        %th 5 leads
        %th.cpl $2.50 cost per lead
    - @basic_seo.each do |seo|
      %tr
        %td= link_to seo.name, account_channel_path(@account, seo, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen
        
    - unless @basic_sem.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO SEM
    %thead
      %tr
        %th SEM Channel
        %th 5 leads
        %th.cpl $2.50 cost per lead
    - @basic_sem.each do |seo|
      %tr
        %td= link_to seo.name, account_channel_path(@account, seo, :daterange => params[:daterange])
        %td #Number of total leads
        %td #Cost per lead betwen
        
    - unless @basic_sem.present?
      %br
      DESIGN: nifty add button or whatever looks good - NO SEO
    - @basic_channels.each do |channel|
      %thead
        %tr
          %th=channel.name
          %th 5 leads
          %th.cpl $2.50 cost per lead
      - channel.basic_campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, account_channel_campaign_path(@account, channel, campaign, :daterange => params[:daterange])
          %td #Number of total leads
          %td #Cost per lead betwen
        
        
        
        
  = link_to "Create Channel", "#", :class => "button"
