= content_for :crumb do
  = link_to "Accounts", accounts_path
  >
  = @account.name

%h1= @account.name
.datepicker= render :partial => "shared/date_picker"
- if can? :manipulate_account, @account
  %span.silver-btn= link_to "Pause Account", "#",:title => "Pause Account"
  %span.silver-btn= link_to "Export to PDF", "#", :onclick => "confirm_export_report(#{params[:id]});"
  %span.silver-btn= link_to "Add User", new_account_user_path(@account), :rel => "facebox"
  %span.silver-btn= link_to "Edit Account", edit_account_path
  - if @account.can_send_weekly_report_now?
    %span.silver-btn= link_to "Send Test Email", send_weekly_path(params[:id])

- unless @current_user.account_user?
  %br
  %br
  .separator
  =high_chart("total_daily_leads_graph", @daily_total_leads_graph)
.separator


-# SEO #####################################################################################################################
%h2 SEO Channels
%hr
- @seo_channels.each do |channel|
  %table.channels
    %thead
      %tr
        %th.name{:width => "75%"}
          = link_to channel.name, channel_path(@account, channel)
          - if can? :manipulate_account, @account
            -#= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
            = link_to "", new_channel_campaign_path(@account, channel), :title => "Add new campaign to this channel", :class => "tiptip iconic plus", :rel => "facebox"
        %th.leads{:width => "15%"}
          = channel.number_of_total_leads_between(cookies[:start_date], cookies[:end_date])
          Leads
        %th.cpl{:width => "10%"}
          = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(cookies[:start_date], cookies[:end_date]))
          CPL
    - channel.campaigns.active.each do |campaign|
      = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

-# SEM #####################################################################################################################
%h2 SEM Channels
%hr
- @sem_channels.each do |channel|
  %table.channels
    %thead
      %tr
        %th.name{:width => "75%"}
          = link_to channel.name, channel_path(@account, channel)
          - if can? :manipulate_account, @account
            -#= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
            = link_to "", new_channel_campaign_path(@account, channel), :title => "Add new campaign to this channel", :class => "tiptip iconic plus", :rel => "facebox"
        %th.leads{:width => "15%"}
          = channel.number_of_total_leads_between(cookies[:start_date], cookies[:end_date])
          Leads
        %th.cpl{:width => "10%"}
          = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(cookies[:start_date], cookies[:end_date]))
          CPL
    - channel.campaigns.active.each do |campaign|
      = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

-# BASIC ###################################################################################################################
%h2 Basic Channels
%hr
- @basic_channels.each do |channel|
  %table.channels
    %thead
      %tr
        %th.name{:width => "75%"}
          = link_to channel.name, edit_channel_path(@account, channel), :rel => "facebox"
          - if can? :manipulate_account, @account
            -#= link_to 'Edit', edit_channel_path(@account, channel), :rel => "facebox"
            = link_to "", new_channel_campaign_path(@account, channel), :title => "Add new campaign to this channel", :class => "tiptip iconic plus", :rel => "facebox"
        %th.leads{:width => "15%"}
          = channel.number_of_total_leads_between(cookies[:start_date], cookies[:end_date])
          Leads
        %th.cpl{:width => "10%"}
          = ActionController::Base.helpers.number_to_currency(channel.weighted_cost_per_lead_between(cookies[:start_date], cookies[:end_date]))
          CPL
    - channel.campaigns.active.each do |campaign|
      = render :partial => 'accounts/channel_campaign', :locals => {:campaign => campaign, :channel => channel}

-# FOOTER ##################################################################################################################
- if can? :manipulate_account, @account
  %span.green-btn= link_to "Create Channel", new_channel_path(@account), :class => "button", :rel => "facebox"
